<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778167079380-v2gvnkvhdvjnpvrreg9rs1e4qmfmstdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778167079380-v2gvnkvhdvjnpvrreg9rs1e4qmfmstdr</string>
	<key>API_KEY</key>
	<string>AIzaSyBMrB7XXNfJ-Oo8ejgNAlzoJ0b1by-TjkU</string>
	<key>GCM_SENDER_ID</key>
	<string>778167079380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>refrem.ocr-test2</string>
	<key>PROJECT_ID</key>
	<string>refrem-61788</string>
	<key>STORAGE_BUCKET</key>
	<string>refrem-61788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778167079380:ios:01e4567a3724e366424641</string>
	<key>DATABASE_URL</key>
	<string>https://refrem-61788.firebaseio.com</string>
</dict>
</plist>